# Nix
result*

# Misc
.direnv
build*
output*
data*
df_output.pdf
output.pdf
filter_dataframe.py
.envrc
run_all.sh
compile_commands.json
.cache/clangd/index
pyrightconfig.json
Analyze/__pycache__
Analyze/python/__pycache__
run_categorize.sh
log-train.txt
PROD_samplesNano_2022EE_MC_8d4c03f7/weights
Analyze/python/.ipynb_checkpoints
